body {
    font-family: Arial, sans-serif;
}

#tabs button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.tab-content {
    display: none; /* デフォルトで非表示 */
}

#form {
    display: block; /* 投稿フォームは初期表示 */
}