### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Log
*.log

# VSCode
.history/
.vsCode/

# 機密情報と環境固有のファイル
service-account.json
render.yaml
.env

# Node.js関連
node_modules/
npm-debug.log

.env

## Dockerとgitの除外ルール ##
.git
*Dockerfile*
*docker-compose*